@model Meeting

@{
    Layout = null;
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <title>کد پیگیری</title>
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/codep.css">
</head>
<body dir="rtl">


      <h1 >@ViewBag.CustomerName عزیز در خواست شما با کد پیگیری @Model.MeetingId ثبت شد.
      </h1>
      <h2>درصورت لزوم با شما تماس گرفته خواهد شد.</h2>
      <h3>باتشــــــکر از پیام شما.</h3>
</body>
</html>