@model SendReceiptsDemo.Models.AdminVM

@{
    ViewData["Title"] = "ویرایش مدیر " + @Model.UserName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-12">
    <div class="card-box">
<div class="row">
    <div class="col-lg-6">
        <h4 class="header-title m-t-0 m-b-30">ویرایش مدیر @Model.UserName</h4>
        <form  class="form-horizontal" asp-action="EditAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdminId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
               <div class="form-check">
                        <label asp-for="AdminType" class="control-label"></label><br />
                        <input asp-for="AdminType" type="radio" id="customerRB" class="form-check-input" value="مدیر مشتری" checked />
                        <label for="customerRB">مدیر مشتری</label>
                        <input asp-for="AdminType" type="radio" id="meetingRB" class="form-check-input" value="مدیر وام" />
                        <label for="meetingRB">مدیر وام</label>
                        <input asp-for="AdminType" type="radio" id="arshadRB" class="form-check-input" value="مدیر ارشد" />
                        <label for="arshadRB">مدیر ارشد</label>
                        <span asp-validation-for="AdminType" class="text-danger"></span>
            </div>
             <button type="submit" class="savebtn btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">ثبت</button>
            <a asp-action="ShowAdmins" asp-route-pageid="@ViewBag.AdminsPageID" type="button" class="savebtn btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">بازگشت</a>
        </form>
    </div>
</div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
