<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/css/log.css">
    <link rel="stylesheet" href="~/assets/css/Notification.css">
</head>
<body>
    <div class="main">
        <div class="signup">
            @RenderBody()
            </div>
        @await Component.InvokeAsync("NotificationComponent")
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Notification.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>