<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge=" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.rtl.css" />
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
       @RenderBody()
    </div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/bootstrap-rtl.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/assets/js/jquery.core.js"></script>
@*    <script src="~/js/javas.js"></script>
*@    <script src="~/js/ShowName.js"></script>
    <script src="~/js/Momayez.js"></script>
    <script src="~/js/JustNumber.js"></script>
    <script src="~/js/Track.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
