@model Customer
<div class="form-group">
  <label  class="control-label"> نام</label>
  <label  class="control-laberl" >@Model.FullName</label>
 </div>
 <div class="form-group">
  <label  class="control-label"> نام پدر</label>
  <label  class="control-laberl" >@Model.FatherName</label>
 </div>
 <div class="form-group">
  <label  class="control-label"> کد ملی</label>
  <label  class="control-laberl" >@Model.NationalCode</label>
 </div>
 <div class="form-group">
  <label  class="control-label"> شماره موبایل</label>
  <label  class="control-laberl" >@Model.MobileNumber</label>
 </div>