@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خطا 404</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/404.css">
</head>

<body dir="rtl" style="background-color: #2a2e33;">
    
 <div class="container">
<div class="row">


 
    <div class="error-404">
        <h1>404</h1>
        <h6 class="h6-404">
            متاسفانه صفحه مورد نظر یافت نشد:(
        </h6>
        <br>
        <p class="p-404">
            لطفا دوباره جستجو کنید
        </p>  

    </div>
    
</div>
</div>





</body>
</html>