@model Notification 
<div class="notification-box" hidden>
    <span class="close-button">&times;</span>
    <h3 class="notification-title">@Model.NotificationTitle</h3>
    <hr> <p class="notification-description">@Model.NotificationDescription</p>
</div>